
@{
    ViewData["Title"] = "Index";
}
<section class="category-content">
    <div class="category-content__category-name">
        <h2 class="category-content__category-name--category">Kategoriler</h2>
    </div>
    <ul class="category-content__content-box">
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        @*<li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>
        <li class="category-content__content-box--item">
            <img src="~/Content/images/2560x1440-blue-green-solid-color-background.jpg" />
            <a href="post-content.html" class="title">8 Ways To Travel Like a Pro</a>
        </li>*@
    </ul>
</section>