@model MyBlog.WebUI.Models.ViewModels.CategoryIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<section class="category-content">
    <div class="category-content__category-name">
        <h2 class="category-content__category-name--category">Kategoriler</h2>
    </div>
    <ul class="category-content__content-box">
        @foreach (var category in Model.Categories)
        {
            <li class="category-content__content-box--item">
                <img src="~/Content/images/category-background.jpg" />
                <a href="@Url.Action("CategoryPosts","Category",new{@seoUrl=@category.SeoUrl})" class="title">@category.CategoryName</a>
            </li>
        }
    </ul>
    <ul class="load-more__pagenation" style="margin-top: 30px; margin-bottom: 30px;">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</section>