
@{
    ViewData["Title"] = "Index";
}
<section class="contact-wrapper">
    <h2 class="contact-wrapper__contact-title">Bana Ulaşın</h2>
    <form action="" class="contact-wrapper__contact-form">
        <input type="text" placeholder="Ad Soyad">
        <input type="text" placeholder="E-Posta Adresi">
        <input type="text" placeholder="Konu">
        <textarea name="" id="" cols="30" rows="10" placeholder="Mesaj"></textarea>
        <button type="submit">Gönder</button>
    </form>

    <div class="social-media">
        <ul class="social-media-icons">
            <li><a href="mailto:"><img src="./dist/img/envelope.png" alt=""></a></li>
            <li><a href="#"><img src="./dist/img/facebook-logo.png" alt=""></a></li>
            <li><a href="#"><img src="./dist/img/google-plus.png" alt=""></a></li>
            <li><a href="#"><img src="./dist/img/skype-logo.png" alt=""></a></li>
            <li><a href="#"><img src="./dist/img/twitter.png" alt=""></a></li>
        </ul>
    </div>
</section>