
@{
    ViewData["Title"] = "GetPost";
}
<section class="post-content">
    <h2 class="post-content__title">Gutenberg Post Ex 1</h2>
    <ul class="post-content__info-list">
        <li><a href="#">Food</a></li>
        <li class="hyphen">-</li>
        <li>
            <i class="far fa-comment"></i>
            <small class="post-content__info-list--comment">0</small>
        </li>
    </ul>
    <div class="post-content__content">
        <img src="./dist/img/post-vr.jpg" class="post-content__main-photo">
        <div class="post-content__content--content-txt">
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A <a href="#" target="_blank">small river named</a> Duden flows by their place and supplies it with the necessary regelialia.
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
            </p>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A <a href="#" target="_blank">small river named</a> Duden flows by their place and supplies it with the necessary regelialia.
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
            </p>
            <h6 class="post-content__content--sub-title">I neglect my talents</h6>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A <a href="#" target="_blank">small river named</a> Duden flows by their place and supplies it with the necessary regelialia.
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
            </p>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A <a href="#" target="_blank">small river named</a> Duden flows by their place and supplies it with the necessary regelialia.
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
            </p>
            <img src="./dist/img/post-vr.jpg" class="post-content__sub-photo" alt="">
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A <a href="#" target="_blank">small river named</a> Duden flows by their place and supplies it with the necessary regelialia.
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line.
            </p>
        </div>
        <ul class="post-content__content--previous-next">
            <li class="previous">
                <span class="orientation-title">Önceki Paylaşım</span>
                <a href="#" class="post-link">Check Out The Most Awesome VR Headset in 2020</a>
            </li>
            <li class="next">
                <span class="orientation-title">Sonraki Paylaşım</span>
                <a href="#" class="post-link">Check Out The Most Awesome VR Headset in 2020</a>
            </li>
        </ul>
        <ul class="share-social-media">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="post-content__category-tag">
        <a href="#">Technology</a>
    </div>
    <div class="post-content__related-post">
        <h5 class="post-content__related-post--title">Diğer Paylaşımlar</h5>
        <ul class="post-content__related-post--related-list">
            <li class="post-content__related-post--list-item">
                <a href="#">
                    <div class="img-and-tag">
                        <img src="./dist/img/post-vr.jpg" alt="">
                        <span class="category-tag">Trending</span>
                    </div>
                    <h5 class="post-content__related-post--related-list--title">Check Out The Most Awesome VR Headset in 2020</h5>
                </a>
            </li>
            <li class="post-content__related-post--list-item">
                <a href="#">
                    <div class="img-and-tag">
                        <img src="./dist/img/post-vr.jpg" alt="">
                        <span class="category-tag">Trending</span>
                    </div>
                    <h5 class="post-content__related-post--related-list--title">Check Out The Most Awesome VR Headset in 2020</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="post-content__comment-wrapper">
        <h4 class="comment-title">Yorumlarınız</h4>
        <div class="post-content__comment-wrapper--comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
        <div class="reply-comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
        <div class="reply-comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
        <div class="post-content__comment-wrapper--comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
        <div class="post-content__comment-wrapper--comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
        <div class="reply-comment">
            <span class="post-content__comment-wrapper--name">Lorem Ipsum</span>
            <p class="post-content__comment-wrapper--comment-txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus porro,
                enim sequi quod adipisci magnam blanditiis. Blanditiis, minus suscipit.
                Amet, consequatur provident earum dolor aliquam nostrum fugit velit vero!
            </p>
        </div>
    </div>
    <div class="post-content__post-comment">
        <h4 class="comment-title">Bir Yorum Yapın</h4>
        <form>
            <label>Yorumunuz</label>
            <textarea></textarea>
            <div class="small">
                <label>Adınız Soyadınız</label>
                <input type="text" class="customer-name">
            </div>
            <div class="small">
                <label>E-Mail</label>
                <input type="text" class="customer-name">
            </div>
            <button type="submit">Yorum Gönder</button>
        </form>
    </div>
</section>