@model MyBlog.WebUI.Models.ViewModels.TagIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<section class="category-content">
    <div class="category-content__category-name">
        <h2 class="category-content__category-name--category">Kategoriler</h2>
    </div>
    <ul class="category-content__content-box">
        @foreach (var tag in Model.Tags)
        {
            <li class="category-content__content-box--item">
                <img src="~/Content/images/category-background.jpg" />
                <a href="post-content.html" class="title">@tag.TagName</a>
            </li>
        }
    </ul>
    <ul class="load-more__pagenation" style="margin-top: 30px; margin-bottom: 30px;">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</section>